include ../../../views/template/postTemplates.pug

+section("Introduction")
	p.
		I love flying in my flight simulator, but my current cockpit only consists of a Radiomaster TX16S
		(normally used for flying RC planes or drones). It's time for an upgrade. The new cockpit should
		mimic a Cessna 172SP with all of the gauges, avionics and control inputs. Since I have access to
		a 3D-Printer and a Laser Cutter most of the parts will be made with the help of these machines.
		Everything else will be done by hand.

	p.
		I love open source hardware and software (even this website is open source). That's why I'll be
		publishing and documenting my work and the building process on this website and in
		<a href="https://github.com/jramrath/Cessna172" target="_blank" rel="noreferrer noopener">this</a>
		GitHub repository. <br>
		This won't be a tutorial but rather a documentation of my building process. I will be using
		a lot of concepts and especially 3D-Printable models from other people while taking extra care in
		mentioning everybody. If I do, however, forget to mention anybody, please contact me.
		You can find my contacting information on <a href="/contact">/contact</a>.


+section("The Plan")
	p This project will be split into multiple parts:

	ul
		li
			="Yoke ( "
			a(href="")= "this"
			=" )"

		li="Pedals"
		li="Building the Panel"
		li="Gauges"
		li="Avionics w/o GPS"
		li="GPS"

+section("Costs")





+post-navbar()