include ../../../views/template/postTemplates.pug

+section("Introduction")
	p.
		I love flying in my flight simulator, but my current cockpit only consists of a Radiomaster TX16S
		(normally used for flying RC planes or drones). <br>
		<strong>It's time for an upgrade. </strong> <br>
		The new cockpit should mimic a Cessna 172SP with all of the gauges, avionics and control inputs. 
		Since I have access to a 3D-Printer and a Laser Cutter most of the parts will be made with the 
		help of these machines (the laser cutter will only be used for engraving, not cutting). 
		Everything else will be done by hand.

	p.
		I love open source hardware and software (even this website is open source). That's why I'll be
		publishing and documenting my work and the building process on this website and in
		<a href="https://github.com/jramrath/Cessna172" target="_blank" rel="noreferrer noopener">this</a>
		GitHub repository. <br>
		This won't be a tutorial but rather a documentation of my building process. Feel free to use it as 
		a reference while building your own. I will be using a lot of concepts and especially 3D-Printable 
		models from other people while taking extra care in mentioning everybody. If I do, however, forget 
		to mention anybody, please contact me. You can find my contacting information on 
		<a href="/contact">/contact</a>.

	p This project will be split into multiple posts:

	ul
		li 
			a(href="1")= "#1: Intruduction"
			= " (this post)"
		li 
			a(href="2")= "#2: Yoke"
		li
			a(href="3")= "#3: Software Steup" 
		li
			a(href="4")= "#4: Rudder Pedals"
		li
			a(href="5")= "#5: Building the Frame"
		li
			a(href="6")= "#6: Switch Panel"
		li
			a(href="7")= "#7: Middle Upper Panel"
		li 
			a(href="8")= "#8: Middle Lower Panel"
		li 
			a(href="9")= "#9: Flap Switch" 
		li
			a(href="10")= "#10: Simple Gauges"
		li 
			a(href="11")= "#11: Altimeter"
		li 
			a(href="12")= "#12: Attitude Indicator"
		li 
			a(href="13")= "#13: Directional Indicator"
		li 
			a(href="14")= "#14: Turn Coordinator"
		li 
			a(href="15")= "#15: VORs & ADF"
		li
			a(href="16")= "#16: GPS: GNS 530 & 430"
		li 
			a(href="17")= "#17: XPDR, ADF, DME & AP" 
		li 
			a(href="18")= "#18: Parking Brake"


+section("Software & Wiring")
	p.
		All of the hardware has to somehow communicate with the simulation. To do that, I'm planing 
		on using a X-Plane plugin called <a href="https://simvim.com">SimVimX</a>. It will communicate 
		to an Arduino Mega running <a href="https://realsimcontrol.com">RealSimControl</a>. <br>
		I will publish my experience with setting up the software in post <a href="3">#3 Software Setup</a>.
		All posts following that post will show how I connect the components individually.

	p.
		When it comes to wiring, I will use the <a href="https://realsimcontrol.com/config.html">Online-Configurator</a>
		of RealSimControl. Once I find a configuration that works for me, I will posts it here.
		

+section("Costs")





+post-navbar()