mixin workInProgress()
	label.workInProgress= "WORK IN PROGRESS"



doctype html5
head
	include ./template/head.pug
	link(rel="stylesheet", href="/css/home.css")
	link(rel="stylesheet", href="/css/post-overview.css")
	title ramrath.me

header
	include ./template/header.pug

main
	section.title
		h1 Welcome
		h2= "Don't know what's going on? Check out "
			a(href="/about")= "/about"
			= "!"

	hr

	section.posts
		each post in recentPosts

			a(href= post.dir).project-preview
				section.description
					h2
						if post.details["projectSlug"] == "uncategorized"
							span.postName= post.details["name"]
						else
							span.projectName= post.details["projectName"]
							span.postName= "#"
								span.slug= post.details["slug"]
								= ": " + post.details["name"]
						
						.labels
							if lastSevenDays.includes(post)
								label.new= "NEW"

							if post.details["workInProgress"]
								+workInProgress()

					p= post.details["description"]

					span.date= post.details["creationDate"]

				img(src= "/projects/" + post.details["projectSlug"] + "/" + post.details["slug"] + "/img/cover.png", alt="cover")

	section.typo 
		a(href= "/typo")= "Found a typo? Report it"


footer
	include ./template/footer.pug