doctype html5
head
  include ./template/head.pug
  link(rel="stylesheet", href="/css/post.css")
  link(rel="stylesheet", href="/css/code.css")
  title #{project_name} - #{post_name}


header
  include ./template/header.pug


main 
  h1
    span.project= project_name
    span.blog= post_name
    

  - var path = path
  |!{include(path)}

  if nextPost != ""
    .nextPostButton
      a(href= nextPost.dir)=  "Next Post 〉〉 #" + nextPost.details["slug"] + " " + nextPost.details["name"]


footer
  include ./template/footer.pug