mixin workInProgress()
	label.workInProgress= "WORK IN PROGRESS"





doctype html5
head
	include ./template/head.pug
	link(rel="stylesheet", href="/css/post.css")
	link(rel="stylesheet", href="/css/code.css")

	if post.details["projectSlug"] == "uncategorized"
		title= post.details["name"]
	else
		title= post.details["projectName"] + " - " + "#" + post.details["slug"] + ": " + post.details["name"]


header
	include ./template/header.pug


main
	.post-details
		h1
			if post.details["projectSlug"] == "uncategorized"
				span.blog= post.details["name"]
			else
				span.project
					a(href="/projects/" + post.details["projectSlug"])= post.details["projectName"]
				span.blog= "#" + post.details["slug"] + ": " + post.details["name"]

		.lower-details
			span.date= post.details["creationDate"]

			if project.details["workInProgress"] || post.details["workInProgress"]
				+workInProgress()


	- var path = path
	|!{include(path, {currentPost: post, project: project})}


	.bottomButtons

		if nextPost != ""
			a(href= "/typo?project=" + post.details["projectSlug"] + "&post=" + post.details["slug"]).typo= "Found a typo? Report it"

			a(href= nextPost.dir).nextPost=  "Next Post 〉〉 #" + nextPost.details["slug"] + " " + nextPost.details["name"]
		
		else 
			a(href= "/typo?project=" + post.details["projectSlug"] + "&post=" + post.details["slug"])= "Found a typo? Report it"


footer
	include ./template/footer.pug