doctype html5
head
	include ./template/head.pug
	link(rel="stylesheet", href="/css/post.css")
	link(rel="stylesheet", href="/css/code.css")

	if post.details["projectSlug"] == "uncategorized"
		title= post.details["name"]
	else
		title= post.details["projectName"] + " - " + "#" + post.details["slug"] + ": " + post.details["name"]


header
	include ./template/header.pug


main
	.post-details
		h1
			if post.details["projectSlug"] == "uncategorized"
				span.blog= post.details["name"]
			else
				span.project= post.details["projectName"]
				span.blog= "#" + post.details["slug"] + ": " + post.details["name"]

		span.date= post.details["creationDate"]


	- var path = path
	|!{include(path)}


	if nextPost != ""
		.bottomButtons
			a(href= nextPost.dir).nextPost=  "Next Post 〉〉 #" + nextPost.details["slug"] + " " + nextPost.details["name"]


footer
	include ./template/footer.pug