script.
    function copyFunc(id) {
        navigator.clipboard.writeText(document.getElementById(id).innerHTML);
    } 


mixin sectionTitle(content, num)
    h2
        span= num
        |#{content}


mixin img(src, alt)
    .img_wrapper
        img(src=src, alt=alt)



mixin codeMixin(filename, rawFilename, num, linesNum)
    .codeOrTerminal.code
        ul.buttons

            li.copy
                a
                    button(onclick="copyFunc(" + num + ")").copy
                        .tooltip 
                            span Copy
                        .icon

            li.seeRaw
                a(href= rawFilename)
                    button.seeRaw
                        .tooltip 
                            span See raw
                        .icon   

            li.downloadCode
                a(href= filename)
                    button.downloadCode
                        .tooltip 
                            span Download code
                        .icon


        table
            tr

                td.left
                    pre
                        code
                            - var i = 1
                            while i <= linesNum
                                |#{i}
                                - i++
                                br
                
                td.right
                    pre
                        code(id= num)
                            block

        

mixin terminalMixin(commands, num)
    .codeOrTerminal.terminal 
        ul.buttons
            li.copy
                a
                    button(onclick="copyFunc(" + num + ")").copy
                        .tooltip 
                            span Copy
                        .icon

        table
            tr
                td.left
                    pre
                        code
                            each command in commands
                                | $
                                br

                td.right
                    pre
                        code(id= num)
                            each command in commands
                                |#{command + "\n"}
                    
        


mixin pimg(imgFile)
    .doubleContents
        p 
            block
        
        img(src= imgFile)

mixin imgp(imgFile)
    .doubleContents
        img(src= imgFile)

        p 
            block
