script.
    function copyFunc(id) {
        navigator.clipboard.writeText(document.getElementById(id).innerHTML);
    } 


mixin sectionTitle(content, num)
    h2
        span= num
        |#{content}


mixin img(src, alt)
    .img_wrapper
        img(src=src, alt=alt)



mixin codeMixin(filename, rawFilename, num)
    pre.code 
        ul.buttons
            li
                span Copy to clipboard
                a.copy
                    button(onclick="copyFunc(" + num + ")")

            li 
                span Download code
                a(href= filename).downloadCode
                    button

            li 
                span See raw
                a(href= rawFilename).seeRaw
                    button


        code(id= num)
            block
        

mixin terminalMixin(commands, num)
    pre.terminal 
        ul.buttons
            li 
                span Copy to clipboard
                a.copy
                    button(onclick="copyFunc(" + num + ")")

        code
            ul(id= num)
                each command in commands
                    li
                        img(src="/img/icons/linux-terminal-symbol.png")
                        span= command
                        br


mixin pimg(imgFile)
    .doubleContents
        p 
            block
        
        img(src= imgFile)

mixin imgp(imgFile)
    .doubleContents
        img(src= imgFile)

        p 
            block
