script.
    function copyFunc(id) {
        navigator.clipboard.writeText(document.getElementById(id).innerHTML.replaceAll("&lt;", "<").replaceAll("&gt;", ">"));
    } 


- var sectionNumber = 1
- var sections = []

mixin section(title)
    - var titleSlug = title.replaceAll(" ", "-").toLowerCase()

    - sections.push([titleSlug, title])

    section
        h2(id= titleSlug)
            span= sectionNumber
            = title
        - sectionNumber += 1
        
        block 


mixin img(src, alt)
    .img_wrapper
        img(src="/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/img/" + src, alt=alt)



mixin codeMixin(filename)
    - var filePath = "/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/code/" + filename;

    .codeOrTerminal.code
        ul.buttons

            li.copy
                a
                    button(onclick="copyFunc('" + filePath.split(".").slice(0, -2).join(".") + "')").copy
                        .tooltip 
                            span Copy
                        .icon

            li.seeRaw
                a(href= filePath.split(".").slice(0, -2).join(".") + ".raw.txt")
                    button.seeRaw
                        .tooltip 
                            span See raw
                        .icon   

            li.downloadCode
                a(href= filePath download= filePath)
                    button.downloadCode
                        .tooltip 
                            span Download code
                        .icon

        != include(wdPath + "/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/assets/code/" + filename.split(".").slice(0, -2).join(".") + ".web.html")

        div(id= filePath.split(".").slice(0, -2).join(".")).textToCopy
            = include(wdPath + "/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/assets/code/" + filename.split(".").slice(0, -2).join(".") + ".raw.txt")

        

- var terminalMixinCopyId = 1
mixin terminalMixin(commands)
    .codeOrTerminal.terminal 
        ul.buttons
            li.copy
                a
                    button(onclick="copyFunc(" + terminalMixinCopyId + ")").copy
                        .tooltip 
                            span Copy
                        .icon

        table
            tr
                td.linenos
                    pre
                        code
                            each command in commands
                                | $
                                br

                td.code
                    pre
                        code(id= terminalMixinCopyId)
                            each command in commands
                                = command + "\n"

    - terminalMixinCopyId += 1                
    

mixin video(filename, ytMirror)
    - var filePath = "/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/video/" + filename;

    .video
        video(controls) 
            source(src= filePath + ".mp4" type="video/mp4")
            source(src= filePath + ".ogg" type="video/ogg")
            = "Your browser does not support the video tag! Please use another mirror."
        
        if ytMirror != undefined 
            a.mirror(href= ytMirror target="_blank" rel="noreferrer noopener")= "Youtube Mirror"



mixin post-navbar()
    .post-navbar-wrapper 
        .post-navbar
            if project.details["slug"] != "uncategorized"
                a(href= project.dir).project= project.details["name"]
                hr

            ul.posts
                for post in project.posts
                    - var postName = project.details["slug"] == "uncategorized" ? post.details["name"] : "#" + post.details["slug"] + ": " + post.details["name"]


                    if post.details["slug"] == currentPost.details["slug"]
                        li.current
                            span= postName

                            ul
                                for section in sections
                                    li
                                        a(href= "#" + section[0])= section[1]

                    else if project.details["slug"] != "uncategorized"
                        li 
                            a(href= post.dir)= postName



- var slideshowCounter = 0;
mixin slideshow(images, animation_length)
    - slideshowCounter += 1;

    .slideshow_wrapper 

        input(type="radio" name="slideshowImageSelector" + slideshowCounter.toString() id="slideShow" + slideshowCounter.toString() + "img0" checked)
        each image, index in images
            if index != 0
                input(type="radio" name="slideshowImageSelector" + slideshowCounter.toString() id="slideShow" + slideshowCounter.toString() + "img" + index.toString())

        .slideshow
            each image, index in images 
                div(class= "image_wrapper" + index.toString()).image_wrapper
                    img(src="/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/img/" + image)
                    label(for="slideShow" + slideshowCounter.toString() + "img" + ((index -1 < 0) ? images.length -1 : index -1).toString()).left
                    label(for="slideShow" + slideshowCounter.toString() + "img" + ((index +1 > images.length -1) ? 0 : index +1).toString()).right
                
            .image_wrapper
                img(src="/projects/" + project.details["slug"] + "/" + currentPost.details["slug"] + "/img/" + images[0])





    style= ".slideshow_wrapper .slideshow { animation: slideshow_" + slideshowCounter.toString() + " "
        = animation_length.toString() + "s"
        = " infinite; }"

        = "@keyframes slideshow_" + slideshowCounter.toString() + " { "
        each image, index in images
            = (index * 100 / images.length).toString()
            = "% { margin-left: " + (0 - index * 100).toString() + "%; } "

            = ((index +1) * (100 / images.length - 100 / animation_length) + (index) * (100 / animation_length)).toString()
            = "% { margin-left: " + (0 - index * 100).toString() + "%; } "
        
        = "100% { margin-left: " + (0 - images.length * 100).toString() + "%; } } "


        each image, index in images 
            = ".slideshow_wrapper:hover input#slideshow" + slideshowCounter.toString() + "img" + index.toString() + ":checked ~ .slideshow .image_wrapper" + index.toString()
            = " { opacity: 1; z-index: 1; } "